body {
	font-family: sans-serif;
}

#link-report {
	width: 100%;
}

td {
	vertical-align: top;
}

th {
	text-align: left;
}

tfoot {
	border-top: 1px solid black;
}

.prequisites, .dependencies {
	display: none;
	
	margin-top: 0.5em;
	padding-top: 0.5em;
	border-top: 1px solid black;
}

.hierarchy:hover .prequisites,
.hierarchy:hover .dependencies {
	display: block;
}

.class-name {
	width: 20em;
	overflow: hidden;
}

.hierarchy {
	width: 20em;
	overflow: hidden;
}

.size {
	width: 10em;
	/*text-align: right;*/
}

.external {
	color: #999999;
}